@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Salsa&display=swap');

body {
    background-color: rgb(23 37 84);
    font-family: 'Nova Square', sans-serif;
    font-family: 'Salsa', cursive;
}

.muy-grande {
    font-size: 9vh;
}